@{
    ViewBag.Title = "bui duc nguyen";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>bai thi giua ki cua bui duc nguyen</h3>

    <address>
        K22cnt3 - mon lap trinh ung dung web voi cong nghe APP.NET.MVC
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:nguyen29082004@gmail.com">nguyen29082004@gmail.com</a>
    </address>
</main>